<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My-Memo</title>
  <script src="./build/react.min.js"></script>
  <script src="./build/react-dom.min.js"></script>
  <script src="./build/browser.min.js"></script>

  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div style="padding: 100px 200px 10px;">
  <div id="header">
    <form class="bs-example bs-example-form" role="form">
      <div class="col-lg-7" id='input'></div>
    </form>
  </div>

  <div class="col-lg-7" id="container"></div>

  <div class="col-lg-7" id="footer">
    <ul class="list-group"></ul>
  </div>

</div>


<script type="text/babel">

  const activeEvents = [];
  const completedEvents = [];

  const CreateContainer = React.createClass({

    render: function () {

      activeEvents.push(document.getElementById('inputEvent').value);

      const activeEventsLists = activeEvents.map(activeEvent => {
        return (
          <li className="list-group-item">
            <input type="checkbox" value=""/>
            {activeEvent}
            <button type="button">X</button>
          </li>
        )
      });
      return (
        <ul className="list-group" id="activeEvents">
          {activeEventsLists}
        </ul>
      )
    }
  });

  const CreateFooter = React.createClass({
    render: function () {
      return (
        <div className="btn-group">
          <label className="btn btn-primary">
            <input type="radio" name="options" id="option1"/> all
          </label>
          <label className="btn btn-primary btn-default">
            <input type="radio" name="options" id="option2" checked="true"/> active
          </label>
          <label className="btn btn-primary">
            <input type="radio" name="options" id="option3"/> completed
          </label>
        </div>
      );
    }
  });

  const SetInput = React.createClass({


    submitContent: function () {
      ReactDOM.render(<CreateContainer />, document.getElementById('container'));
      ReactDOM.render(<CreateFooter />, document.getElementById('footer'));
    },
    render: function () {
      return (
        <div className="input-group">
          <input type="text" id="inputEvent" className="form-control input-lg"/>
          <span className="input-group-btn">
          <button className="btn btn-primary input-lg" type="button" id="submit"
                  onClick={this.submitContent}>submit</button>
          </span>

        </div>
      )
    }
  });

  ReactDOM.render(<SetInput />, document.getElementById('input'));


</script>

</body>
</html>
